.loading {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000094;
    z-index: 10000;
    /* align-items: center; */
    text-align: center;
}

.loading img {
    position: relative;
    top: 40%
}
