@model List<Blogs.Application.Contract.BlogApplication.Query.LastBlogForMagQueryModel>

@if(Model.Count() > 0)
{
    <div class="container">
        <div class="trending-now">
            <span class="trending-now__label">
                <i class="ui-flash"></i>
                مقالات داغ
            </span>
            <div class="newsticker">
                <ul class="newsticker__list">
                    @foreach(var item in Model)
                    {
                        <li class="newsticker__item">
                            <a href="/Blog/@item.Slug" 
                            class="newsticker__item-url">
                            @item.Title
                            </a>
                            </li>
                    }
                </ul>
            </div>
            <div class="newsticker-buttons">
                <button class="newsticker-button newsticker-button--next" id="newsticker-button--next" aria-label="previous article"><i class="ui-arrow-left"></i></button>
                <button class="newsticker-button newsticker-button--prev" id="newsticker-button--prev" aria-label="next article"><i class="ui-arrow-right"></i></button>
            </div>
        </div>
    </div>
}