@model Users.Application.Contract.UserApplication.Command.RegisterUser
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    var SuccessLogout = TempData["SuccessLogout"] != null;
}
<div class="account-box-title text-right">ورود به سایت</div>
<div class="account-box-content">
    <form class="form-account" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-account-title">شماره موبایل</div>
        <div class="form-account-row">
            <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
            <input class="input-field" type="text" ‌ asp-for="Mobile"
                   onkeypress="return isNumber(event)">
            <span class="text-danger" asp-validation-for="Mobile"></span>
        </div>
        <div class="form-account-row form-account-submit">
            <div class="parent-btn">
                <button type="submit" class="dk-btn dk-btn-info">
                    ورود به سایت
                    <i class="fa fa-sign-in"></i>
                </button>
            </div>
        </div>
        @* <div class="form-account-agree">
            <label class="checkbox-form checkbox-primary">
                <input type="checkbox" checked="checked" id="agree">
                <span class="checkbox-check"></span>
            </label>
            <label for="agree">مرا به خاطر داشته باش</label>
        </div> *@
    </form>
</div>

@section Scripts{
    @if (SuccessLogout)
    {
        <script>
            SuccessJquery("عملیات موفق", "شما با موفقیت از حساب کاربری خارج شدید .");
        </script>
    }
}