@model Site.Application.Contract.SitePageApplication.Command.CreateSitePage
@{
    ViewData["Title"] = "افزودن صفحه ";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <form method="post" role="form">
                <div class="box-body">
                    <div class="row">
                    <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input class="form-control" asp-for="Title" onchange="makeSlug('Title','Slug')">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Slug"></label>
                                <input class="form-control" asp-for="Slug">
                                <span class="text-danger" asp-validation-for="Slug"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Text"></label>
                                <textarea id="editor1" asp-for="Text" rows="10"
                                          cols="80">

                                  </textarea>
                                <span class="text-danger" asp-validation-for="Text"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-success">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () 
            CKEDITOR.replace('editor1')
            //bootstrap WYSIHTML5 - text editor
            $('.textarea').wysihtml5()
        })
    </script>
}