<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Component.InvokeAsync("Fav")
    <title>@ViewData["Title"]</title>
    <partial name="_Css" />
</head>

<body class="index-page sidebar-collapse">
    <partial name="_HeaderResponsive" />
    <div class="wrapper default">
        <partial name="_Header" />
        <main class="profile-user-page default">
            <div class="container">
                <div class="row">
                    <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                        @RenderBody()
                    </div>
                    <partial name="_UserPanelSideBar"/>
                    
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
    <partial name="_Js" />
    @RenderSection("Scripts", false)
</body>

</html>