<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Component.InvokeAsync("Fav")
    <title>@ViewData["Title"]</title>
    <partial name="_Css" />
</head>
@{
    var SuccessLogin = TempData["SuccessLogin"] != null;
    var ok = TempData["ok"] != null;
    var faild = TempData["faild"] != null;
}
<body class="index-page sidebar-collapse">
    <partial name="_HeaderResponsive" />
    <div class="wrapper default">
        <partial name="_Header" />
        <main class="profile-user-page default">
            <div class="container">
                <div class="row">
                    <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                        @RenderBody()
                    </div>
                    @await Component.InvokeAsync("UserPanelSidebar")
                </div>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
    <partial name="_Js" />
    <script src="/js/userPanel.js"></script>
    @if (SuccessLogin)
    {
        <script>
            AlertSweet("عملیات موفق", "شما با موفقیت وارد سایت شدید .", "success");
        </script>
    }
    @if (ok)
    {
        <script>
            AlertSweetTimer("عملیا ت با موفقیت انجام شد", "success", 4000);
        </script>
    }
    @if (faild)
    {
        <script>
            AlertSweetTimer("عملیات نا موفق !!!", "error", 4000);
        </script>
    }
    @RenderSection("Scripts", false)
</body>

</html>