@model PostModule.Application.Contract.UserPostApplication.Command.CreatePackage
@{
    ViewData["Title"] = "افزودن پکیج ";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <form method="post" role="form" enctype="multipart/form-data">
                <div class="col-md-6">
                    <div class="box-body">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input class="form-control" asp-for="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Count"></label>
                            <input class="form-control" asp-for="Count">
                            <span class="text-danger" asp-validation-for="Count"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input class="form-control" asp-for="Price">
                            <span class="text-danger" asp-validation-for="Price"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageAlt"></label>
                            <input class="form-control" asp-for="ImageAlt">
                            <span class="text-danger" asp-validation-for="ImageAlt"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea class="form-control" asp-for="Description" rows="7">

                                </textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <img width="300px" id="destinationImage" class="img-thumbnail" src="" />
                    <div class="form-group">
                        <label asp-for="ImageFile"></label>
                        <input type="file" id="chooseImage" class="form-control" asp-for="ImageFile">
                        <span class="text-danger" asp-validation-for="ImageFile"></span>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>