@model Site.Application.Contract.MenuApplication.Command.CreateMenu
@using Shared.Domain.Enum;
@{
    ViewData["Title"] = "افزودن منو ";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <form method="post" role="form" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="row">
                    <div class="col-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input class="form-control" asp-for="Title" >
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                                <div class="form-group">
                                    <label asp-for="Status"></label>
                                    <select class="form-control" asp-for="Status">
                                        @foreach (var item in Enum.GetValues(typeof(MenuStatus)).Cast<MenuStatus>())
                                        {
                                            <option value="@item">@item.ToString().Replace("_", " ")</option>
                                        }

                                    </select>
                                    <span class="text-danger" asp-validation-for="Status"></span>
                                </div>
                            <div class="form-group">
                                <label asp-for="Number"></label>
                                    <input class="form-control" asp-for="Number">
                                    <span class="text-danger" asp-validation-for="Number"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageAlt"></label>
                                <input class="form-control" asp-for="ImageAlt">
                                    <span class="text-danger" asp-validation-for="ImageAlt"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Url"></label>
                                    <input class="form-control" asp-for="Url">
                                    <span class="text-danger" asp-validation-for="Url"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img width="300px" id="destinationImage" class="img-thumbnail" src="" />
                                <div class="form-group">
                                    <label asp-for="ImageFile"></label>
                                <input type="file" id="chooseImage" class="form-control" asp-for="ImageFile">
                                <span class="text-danger" asp-validation-for="ImageFile"></span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-success">ارسال</button>
                </div>
            </form>
        </div>
    </div>
</div>