@model PostModule.Application.Contract.CityApplication.EditCityModel
@using Shared.Domain.Enum;
@using Shared.Application;
@{
    ViewData["Title"] = "ویرایش  " + Model.Title;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <form method="post" role="form">
                <input type="hidden" asp-for="Id" />
                <div class="box-body">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input class="form-control" asp-for="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-warning">ویرایش</button>
                </div>
            </form>
        </div>
    </div>
</div>