@{
    ViewData["Title"] = "Home Page";
}
 <main class="main default">
     <div class="container">
        @await Component.InvokeAsync("TopBaner")
        @await Component.InvokeAsync("Slider")
        @await Component.InvokeAsync("AmazingSlider")
        @await Component.InvokeAsync("CenterBaner4")
        @await Component.InvokeAsync("BestProductSell")
        @await Component.InvokeAsync("CenterBaner2")
        @await Component.InvokeAsync("NewProduct")
        @await Component.InvokeAsync("BottomBaner")
     </div>
</main>
