<footer class="mini-footer">
    <nav>
        <div class="container">
            <ul class="menu">
                <li>
                    <a href="#">درباره تاپ کالا</a>
                </li>
                <li>
                    <a href="#">فرصت‌های شغلی</a>
                </li>
                <li>
                    <a href="#">تماس با ما</a>
                </li>
                <li>
                    <a href="#">همکاری با سازمان‌ها</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="copyright-bar">
        <div class="container">
            <p>
                استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                کلیه حقوق این سایت متعلق
                به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
            </p>
        </div>
    </div>
</footer>