<footer class="mini-footer">
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <ul class="mini-footer-menu">
                    <li><a href="#">درباره ما</a></li>
                    <li><a href="#">فرصت های شغلی</a></li>
                    <li><a href="#">تماس با ما</a></li>
                    <li><a href="#">همکاری با سازمان ها</a></li>
                </ul>
            </div>
            <div class="col-12 mt-2 mb-3">
                <div class="footer-light-text">
                    استفاده از مطالب فروشگاه اینترنتی همتا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است..
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="copy-right-mini-footer">
                    © All rights reserved. Designed by BahramiiiRad
                </div>
            </div>
        </div>
    </div>
</footer>