<footer class="main-footer default">
    <div class="back-to-top">
        <a href="#">
            <span class="icon"><i class="now-ui-icons arrows-1_minimal-up"></i></span> <span>
                بازگشت به
                بالا
            </span>
        </a>
    </div>
    <div class="container">
        @await Component.InvokeAsync("Services")
        
        <div class="footer-widgets">
            <div class="row">
                @await Component.InvokeAsync("MenuFooter")
               
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="newsletter">
                        <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                        <form action="">
                            <input type="email" class="form-control" placeholder="آدرس ایمیل">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </form>
                    </div>
                    @await Component.InvokeAsync("Social")
                   
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("ContactFooter")
        
    </div>
    @await Component.InvokeAsync("Footer")

    <div class="copyright">
        <div class="container">
            <p>
               طراحی و برنامه نویسی توسط : <a href="https://codeyad.com"> کدیاد </a>
            </p>
        </div>
    </div>
</footer>