<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Component.InvokeAsync("Fav")
    <title>@ViewData["Title"]</title>
    <partial name="_Css" />
</head>
@{
    var SuccessLogin = TempData["SuccessLogin"] != null;
}
<body class="index-page sidebar-collapse">

    <div class="loading">
        <img src="/Images/loading.svg" alt="loading..." />
    </div>
    <partial name="_HeaderResponsive" />
    <div class="wrapper default">
        <partial name="_Header" />
        @RenderBody()
        <partial name="_Footer" />
    </div>
     <partial name="_Js" />
    @if (SuccessLogin)
    {
        <script>
            AlertSweet("عملیات موفق", "شما با موفقیت وارد سایت شدید .", "success");
        </script>
    }
    @RenderSection("Scripts",false)
</body>

</html>

