<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    @await Component.InvokeAsync("Fav")
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/MagAssets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/MagAssets/css/font-icons.css" />
    <link rel="stylesheet" href="/MagAssets/css/style.css" />
    <script src="/MagAssets/js/lazysizes.min.js"></script>
</head>

<body class="bg-light style-default style-rounded">
    <div class="loader-mask">
        <div class="loader">
            <div></div>
        </div>
    </div>
    <div class="content-overlay"></div>
    @await Component.InvokeAsync("MenuBlogMobile")
    <main class="main oh" id="main">
        @await Component.InvokeAsync("BlogSocial")
        <header class="nav">

            <div class="nav__holder nav--sticky">
                <div class="container relative">
                    <div class="flex-parent">

                        <!-- Side Menu Button -->
                        <button class="nav-icon-toggle d-lg-none" id="nav-icon-toggle" aria-label="Open side menu">
                            <span class="nav-icon-toggle__box">
                                <span class="nav-icon-toggle__inner"></span>
                            </span>
                        </button>
                        @await Component.InvokeAsync("LogoBlog")
                        @await Component.InvokeAsync("MenuBlog")
                        <!-- Nav Right -->
                        <div class="nav__right">

                            <!-- Search -->
                            <div class="nav__right-item nav__search">
                                <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                                    <i class="ui-search nav__search-trigger-icon"></i>
                                </a>
                                <div class="nav__search-box" id="nav__search-box">
                                    <form class="nav__search-form">
                                        <input type="text" placeholder="جستجو مقالات" class="nav__search-input">
                                        <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                                            <i class="ui-search nav__search-icon"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div> <!-- end nav right -->

                    </div> <!-- end flex-parent -->
                </div> <!-- end container -->

            </div>
        </header> <!-- end navigation -->
        @RenderBody()
        
        <!-- Footer -->
        <footer class="footer footer--light">
            <div class="container">
                <div class="footer__widgets">
                    <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget-logo">
                                <a href="index.html">
                                    <img src="/MagAssets/img/logo_default_white.png" srcset="img/logo_default_white.png 1x, img/logo_default_white@2x.png 2x" class="logo__img" alt="">
                                </a>
                                <p class="copyright">

                                    استفاده از مطالب تاپ‌کالا مگ برای مقاصد غیرتجاری با ذکر نام تاپ‌کالا مگ و لینک به منبع بلامانع است. حقوق این سایت به شرکت نوآوران فن‌آوازه (فروشگاه آنلاین تاپ‌کالا) تعلق دارد.

                                </p>
                                <div class="socials socials--large socials--rounded mb-24">
                                    <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                                    <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                                    <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                                    <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                                    <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                                </div>
                            </aside>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <aside class="widget widget_nav_menu">
                                <h4 class="widget-title">هشتگ های داغ</h4>
                                <ul>
                                    <li><a href="about.html">#تکنولوزی</a></li>
                                    <li><a href="contact.html">#موبایل</a></li>
                                    <li><a href="categories.html">#کتاب</a></li>
                                    <li><a href="shortcodes.html">#هنر</a></li>
                                    <li><a href="shortcodes.html">#زیبایی</a></li>
                                    <li><a href="shortcodes.html">#دیجیتال</a></li>
                                </ul>
                            </aside>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <aside class="widget widget-popular-posts">
                                <h4 class="widget-title">محبوب ترین مقالات</h4>
                                <ul class="post-list-small">
                                    <li class="post-list-small__item">
                                        <article class="post-list-small__entry clearfix">
                                            <div class="post-list-small__img-holder">
                                                <div class="thumb-container thumb-100">
                                                    <a href="single-post.html">
                                                        <img data-src="/MagAssets/img/content/thumb/post-8.jpg" src="/MagAssets/img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-list-small__body">
                                                <h3 class="post-list-small__entry-title">
                                                    <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
                                                </h3>
                                                <ul class="entry__meta">
                                                    <li class="entry__meta-author">
                                                        <span>نویسنده:</span>
                                                        <a href="#">بهرامی راد</a>
                                                    </li>
                                                    <li class="entry__meta-date">
                                                        ۴ اردیبهشت ۱۳۹۸
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                    <li class="post-list-small__item">
                                        <article class="post-list-small__entry clearfix">
                                            <div class="post-list-small__img-holder">
                                                <div class="thumb-container thumb-100">
                                                    <a href="single-post.html">
                                                        <img data-src="/MagAssets/img/content/thumb/post-2.jpg" src="/MagAssets/img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-list-small__body">
                                                <h3 class="post-list-small__entry-title">
                                                    <a href="single-post.html">نمایشگر وان پلاس ۷ قرار است ما را شگفت‌زده کند!</a>
                                                </h3>
                                                <ul class="entry__meta">
                                                    <li class="entry__meta-author">
                                                        <span>نویسنده:</span>
                                                        <a href="#">بهرامی راد</a>
                                                    </li>
                                                    <li class="entry__meta-date">
                                                        ۴ اردیبهشت ۱۳۹۸
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                </ul>
                            </aside>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget_mc4wp_form_widget">
                                <h4 class="widget-title">خبرنامه</h4>
                                <p class="newsletter__text">
                                    <i class="ui-email newsletter__icon"></i>
                                    برای اطلاع از آخرین خبرها مشترک شوید
                                </p>
                                <form class="mc4wp-form" method="post">
                                    <div class="mc4wp-form-fields">
                                        <div class="form-group">
                                            <input type="email" name="EMAIL" placeholder="ایمیل" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-color" value="عضویت">
                                        </div>
                                    </div>
                                </form>
                            </aside>
                        </div>

                    </div>
                </div>
            </div> <!-- end container -->
        </footer> <!-- end footer -->

        <div id="back-to-top">
            <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
        </div>

    </main> <!-- end main-wrapper -->


    <!-- jQuery Scripts -->
    <script src="/MagAssets/js/jquery.min.js"></script>
    <script src="/MagAssets/js/bootstrap.min.js"></script>
    <script src="/MagAssets/js/easing.min.js"></script>
    <script src="/MagAssets/js/owl-carousel.min.js"></script>
    <script src="/MagAssets/js/flickity.pkgd.min.js"></script>
    <script src="/MagAssets/js/twitterFetcher_min.js"></script>
    <script src="/MagAssets/js/jquery.newsTicker.min.js"></script>
    <script src="/MagAssets/js/modernizr.min.js"></script>
    <script src="/MagAssets/js/scripts.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.js"></script>
    <script src="/js/sweetalert2.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/blog.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>
