@model Site.Application.Contract.SiteSettingApplication.Query.LogoForUiQueryModel

@if(!string.IsNullOrEmpty(Model.LogoName))
{
    <a href="#">
        <img src="@Model.LogoName" @(string.IsNullOrEmpty(Model.LogoAlt) ? "" : $"alt={Model.LogoAlt}") alt="logo">
    </a>
}