@model Site.Application.Contract.SiteSettingApplication.Query.LogoForUiQueryModel

@if(!string.IsNullOrEmpty(Model.LogoName))
{
    <div class="logo-area default">
        <a href="#">
            <img src="@Model.LogoName" @(string.IsNullOrEmpty(Model.LogoAlt) ? "" : $"alt={Model.LogoAlt}")>
        </a>
    </div>
}